@model FinalProject.DATA.EF.Reservation

@{
    ViewBag.Title = Html.DisplayFor(model => model.ReservationDate)+" Reservation Details";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div>
    <dl >
        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialRequests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialRequests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pet.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.AssetName)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationId }, new { @class = "btn btn-white" })
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })
</p>
