@model IEnumerable<FinalProject.DATA.EF.Reservation>

@{
    ViewBag.Title = User.IsInRole("Pet Owner") ? "Your Reservations" : "All Reservations";
}

<h2 class="text-center">@ViewBag.Title</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Pet Owner"))
{
    <p class="text-center">
        @Html.ActionLink("Make a Reservation", "Create", null, new { @class = "btn btn-defult"})
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialRequests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pet.AssetName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialRequests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.AssetName)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.ReservationId })
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationId })

                    if (User.IsInRole("Admin"))
                    {
                        @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId })
                    }

                }

            </td>
        </tr>
    }

</table>
