@model FinalProject.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Your email was sent with the following details</h4>
    <hr />
    <dl >
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Home", "Index", null, new { @class = "btn btn-default" })
</p>
