@model FinalProject.DATA.EF.Location

@{
    ViewBag.Title = Model.LocationName + " Info";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="text-center">
    <dl @*class="dl-horizontal"*@>
        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        @if (Request.IsAuthenticated)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        @if (Request.IsAuthenticated)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ZipCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReservationLimit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReservationLimit)
            </dd>
        }
    </dl>
</div>
<p class="text-center">
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit Location", "Edit", new { id = Model.LocationId, @class="btn btn-white" })
    }
    @Html.ActionLink("Back to Locations", "Index", null, new { @class = "btn btn-white" })
</p>
