@model IEnumerable<FinalProject.DATA.EF.Location>

@{
    ViewBag.Title = "Our Locations";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <div>
        @Html.ActionLink("Add New Location", "Create", null, new { @class = "btn btn-special" })
    </div>
    <br />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        @if (Request.IsAuthenticated)
        {
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        @if (Request.IsAuthenticated)
        {
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationLimit)
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            @if (Request.IsAuthenticated)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>

            @if (Request.IsAuthenticated)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationLimit)
                </td>
            }
            <td>
                @Html.ActionLink("Info", "Details", new { id = item.LocationId })
                @if (User.IsInRole("Admin"))
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
                }

            </td>
        </tr>
    }

</table>
