@model FinalProject.DATA.EF.Pet

@{
    ViewBag.Title = "Removing Pet";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to remove this pet from our system?</h3>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetPhoto)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.AssetPhoto)*@
            <img src="~/Content/images/pets/@Model.AssetPhoto" style="max-width: 450px"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            Owner's Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
