@model FinalProject.DATA.EF.Pet

@{
    ViewBag.Title = Model.AssetName +" Info";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetPhoto)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.AssetPhoto)*@
            <img src="~/Content/images/pets/@Model.AssetPhoto" style="max-width: 450px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialNotes)
        </dd>
        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            Owner's Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PetId }, new { @class = "btn btn-default" }) 
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-white"})
</p>
