@model IEnumerable<FinalProject.DATA.EF.Pet>

@{
    ViewBag.Title = User.IsInRole("Pet Owner") ? "My Pets" : "All Pets";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Pet Owner"))
{
    <p>
        @Html.ActionLink("Add New Pet", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </th>
        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            Owner's Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (User.IsInRole("Pet Owner") && item.IsActive == true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AssetPhoto)*@
                    <img src="~/Content/images/pets/t_@item.AssetPhoto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.PetId })

                    |
                    @Html.ActionLink("Edit", "Edit", new { id = item.PetId })
                    @if (User.IsInRole("Admin") || User.IsInRole("Pet Owner"))
                    {
                        @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.PetId })
                    }
                </td>
            </tr>
        }
        else if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AssetPhoto)*@
                    <img src="~/Content/images/pets/t_@item.AssetPhoto"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.PetId })
                    |
                    @Html.ActionLink("Edit", "Edit", new { id = item.PetId })
                    @if (User.IsInRole("Admin"))
                    {
                        @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.PetId })
                    }
                </td>
            </tr>
        }

    }

</table>
